footer{
    width:100%;
    border-top:1px solid #bbb;
    .inner{
        width:1180px;
        margin:0 auto;
        position:relative;
        padding:50px;
        p{
            font:12px/1.2 'aroal';
            color:#999;
            text-align: center;
        }
    }
}

@media screen and (max-width: $tablet) {
	footer {
		.inner {
			width: 100%;
			padding: 50px 30px;
		}
	}
}
